.app-header {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    background: rgb(22, 22, 22);
    padding: 48px 0px;
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.main-container {
    min-height: 500px;
}
